html {
  background-color: #182c25;
}
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #182c25;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn.btn-darkgreen-theme{
  background-color: #2c4c3b;
  border-color: #2c4c3b;
  color: white;
}
.send-button {
  height: 53px;
}
/*  MESSAGES */


.self-message{
  margin-left: -30px;
}
.group-message{
  margin-left: 30px;
  background-color: #1e453e !important;
}
.server-message{
  margin-left: 0;
  background-color: #1e453e !important;
}