.chatContainer {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  background-color: #182c25;
  height: 100vh;
}

/* Room */
.roomAndUsersColumn {
  border-right: 1px solid #dfdfdf;
}
.roomTitle {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}
.usersTitle {
  font-size: 1.2rem;
  color: #fff;
}
.usersList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 60px;
  color: rgb(153, 217, 234);
}
.usersList li {
  margin-bottom: 12px;
}

/* Messages */
.messagesColumn {
  height: 85vh;
  overflow: auto;
  padding: 10px 10px 10px 40px;
  background-color: #182c25;
}
.message {
  background: #455b55;
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px 12px 4px 12px;
}
.msgMeta {
  color: #dfdfdf;
  font-size: 0.75rem;
}
.msgText {
  color: white;
  word-wrap: break-word;
}

/* Message input and button */
.sendMessageContainer {
  padding: 16px 20px 20px 16px;
}
.messageInput {
  padding: 14px;
  margin-right: 16px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 0.9rem;
}

