.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182c25;
  }
  .formContainer {
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 32px;
    background-color: #455b55;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    color: white;
  }
  .input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid transparent;
    font-size: 0.9rem;
  }
  .input option {
    margin-top: 20px;
  }